body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* navbar styles */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.navbar-brand {
    float: left;
}

.navbar-brand h1 {
    margin: 0;
    font-size: 24px;
}

.navbar-menu {
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar-menu li {
    display: inline-block;
    margin-left: 10px;
}

.navbar-menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.navbar-menu li a:hover {
    color: #ff9900;
}

/* Home Section Styles */
#home {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

#home h1 {
    font-size: 48px;
    font-weight: bold;
}

#home p {
    font-size: 24px;
}

#home .text-info {
    color: #007bff; /* Bootstrap primary color */
}

#home .btn {
    border-radius: 30px;
}

/* Styling for the About Section */
#about img {
    border-radius: 50%;
    max-width: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#about h2 {
    color: #f86d03;
}


/* Styling for the Skills Section */
#skills h2 {
    color: #f86d03;
}

#skills ul {
    list-style: none;
    padding-left: 0;
}

#skills li {
    margin-bottom: 20px;
    display: flex; /* Display skill name and progress bar side by side */
    align-items: center; /* Vertically align items */
}

.skill-name {
    flex: 1; 
}

.progress-bar {
    height: 8px;
    border-radius: 4px;
}

/* projects style  */
#projects h2 {
    color: #f86d03;
}

.project-item {
    margin-bottom: 40px;
}

.project-links a {
    display: inline-block;
    margin-right: 10px;
}

.project-links a:last-child {
    margin-right: 0;
}


/* education style */
#education h2 {
    color: #f86d03;
}

.education-item {
    margin-bottom: 30px;
}

.education-item h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.education-item p.text-muted {
    font-style: italic;
}


/* Styling for the Contact Section */
#contact h2 {
    color: #f86d03;
}

#contact .form-control {
    margin-bottom: 15px;
}

#contact .btn-primary {
    background-color: #f86d03;
    border-color: #f86d03;
}

.contact-info h4 {
    margin-bottom: 20px;
}

.contact-info p {
    margin-bottom: 10px;
}

.social-links a {
    display: inline-block;
    font-size: 24px;
    margin-right: 15px;
    color: #666666;
}

.social-links a:last-child {
    margin-right: 0;
}

/* Styling for the Footer */
footer {
    font-size: 14px;
}

footer h4 {
    margin-bottom: 20px;
}

footer p {
    margin-bottom: 5px;
}

footer .social-links a {
    display: inline-block;
    font-size: 24px;
    margin-right: 15px;
    color: #06c42f;
}

footer .social-links a:last-child {
    margin-right: 0;
}

footer p:last-child {
    margin-bottom: 0;
}

/* Styling for the Up Arrow */
.up-arrow {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #f86d03;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.up-arrow a {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}


/* Styling for the Social Links */
.social-links a {
    display: inline-block;
    font-size: 24px;
    margin-right: 15px;
    color: #0814b3; 
}

.social-links a:hover {
    color: #f86d03; 
}

.social-links a.twitter:hover {
    color: #1DA1F2; 
}

.social-links a.linkedin:hover {
    color: #0A66C2; 
}

.social-links a.github:hover {
    color: #4078C0; 
}

footer .social-links a:last-child {
    margin-right: 0;
}

footer p:last-child {
    margin-bottom: 0;
}


/* Responsive Styles */

@media screen and (max-width: 768px) {
    .navbar-brand h1 {
        font-size: 20px;
        margin-left: 10px;
    }
    
    .navbar-menu {
        float: none;
        text-align: center;
    }
    
    .navbar-menu li {
        display: block;
        margin: 10px 0;
    }
}
