body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* navbar styles */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.navbar-brand {
    float: left;
}

.navbar-brand h1 {
    margin: 0;
    font-size: 24px;
}

.navbar-menu {
    float: right;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar-menu li {
    display: inline-block;
    margin-left: 10px;
}

.navbar-menu li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.navbar-menu li a:hover {
    color: #ff9900;
}

/* Home Section Styles */
#home {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

#home h1 {
    font-size: 48px;
    font-weight: bold;
}

#home p {
    font-size: 24px;
}

#home .text-info {
    color: #007bff; /* Bootstrap primary color */
}

#home .btn {
    border-radius: 30px;
}

/* Styling for the About Section */
#about img {
    border-radius: 50%;
    max-width: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#about h2 {
    color: #f86d03;
}


/* Styling for the Skills Section */
#skills h2 {
    color: #f86d03;
}

#skills ul {
    list-style: none;
    padding-left: 0;
}

#skills li {
    margin-bottom: 20px;
    display: flex; /* Display skill name and progress bar side by side */
    align-items: center; /* Vertically align items */
}

.skill-name {
    flex: 1; 
}

.progress-bar {
    height: 8px;
    border-radius: 4px;
}

/* projects style  */
#projects h2 {
    color: #f86d03;
}

.project-item {
    margin-bottom: 40px;
}

.project-links a {
    display: inline-block;
    margin-right: 10px;
}

.project-links a:last-child {
    margin-right: 0;
}


/* education style */
#education h2 {
    color: #f86d03;
}

.education-item {
    margin-bottom: 30px;
}

.education-item h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.education-item p.text-muted {
    font-style: italic;
}

/* Responsive Styles */

@media screen and (max-width: 768px) {
    .navbar-brand h1 {
        font-size: 20px;
        margin-left: 10px;
    }
    
    .navbar-menu {
        float: none;
        text-align: center;
    }
    
    .navbar-menu li {
        display: block;
        margin: 10px 0;
    }
}
